<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gift</title>
    <style>

    .greeting {
        font-family: 'Snell Roundhand Script';
        }



        .center {
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 50%;
                }


        body  {
                background-color: #FFE4B5;
            }
        h2 {
           color: green;
           {




    </style>
</head>
<body>
<h1><b>Лариса</b> , с Днём Рожденья!!! </h1>
<img src="/media/userphotos/giftpic.jpg" alt="larissa"  class="center">
<h4 id="greeting"> Желаю тебе в первую очередь быть счастливой, семейного спокойствия и благополучия, интересных проектов и успешных их реализаций,
    современных, умных и продвинутых коллег, чтобы твоя энергия и запал никогда не спадали, и жду когда ты появишься в списках Forbes).
    Все получится, ведь стремление к цели - это уже половина успеха!
</h4>
<h2>Твой подарок <a href="/media/userphotos/gift.pdf" id="downloadgift" download="larisaGift.pdf">ТУТ!</a>  </h2>
<p>P.S. прости за дизайн). Как говорится - "лучший подарок - это сделанный своими руками", так вот, тут получилась комбинация. И, да, теперь
мы неизбежно сталкиваемся с цифровым миром. Надеюсь приложить руку к его формированию) Надеюсь не доставил много хлопот с открыванием шкатулки.
Мне тоже её пришлось открыть, прежде чем туда что-то положить. Открыл я её правда за время совещания по CSI). Жаль, что удалось с тобой поработать так мало.
Удачи тебе закончить проект с GURU. Успехов, все получится!</p>

{% block javascript %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>



  			$(document).ready(function() {
                $('#downloadgift').click(function(event) {
                    event.preventDefault();
                    $.ajax(
                    {
                    url:"download/",
                    type:'get',
                    //data:{user : user_id},
                    success:function (data) {
                    window.location = '/media/userphotos/gift.pdf';

                    },
                    error:function (error) {


                        }
                    });

                });

                 $('#giftMusic').click(function(event) {
                    event.preventDefault();
                    $.ajax(
                    {
                    url:"music/",
                    type:'get',
                    //data:{user : user_id},
                    success:function (data) {
                    //window.location = '/media/userphotos/gift.pdf';
                    location.href = 'https://mrr.morsmusic.org/track/271664';
                    },
                    error:function (error) {


                        }
                    });

                });




            });



  </script>
{% endblock javascript %}




</body>
</html>