<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gift</title>
    <style>
        .center {
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 50%;
}

    </style>
</head>
<body>
<h1><b>Лариса</b> , с Днём Рожденья!!! </h1>
<img src="/media/userphotos/giftpic.jpg" alt="larissa"  class="center">
<h3>твой подарок <a href="/media/userphotos/gift.pdf" download="larisaGift.pdf">тут</a>  </h3>
</body>
</html>