<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gift</title>
    <style>
        .center {
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 50%;
                }
        body  {
                background-color: #FFE4B5; /* Цвет фона веб-страницы */
            }

    </style>
</head>
<body>
<h1><b>Лариса</b> , с Днём Рожденья!!! </h1>
<img src="/media/userphotos/giftpic.jpg" alt="larissa"  class="center">
<h4>Желаю тебе в первую очередь быть счастливой, семенойго спокойствия и благополучия, интересных проктов и успешных их реализаций,
    современных, умных и продвинутых коллег, чтобы твоя энергия и запал никогда не спадали, так же жду когда ты появишься в списках Forbes).
    Все получится, ведь стремление к цели уже половина успеха!
</h4>
<h3>Твой подарок <a href="/media/userphotos/gift.pdf" download="larisaGift.pdf">ТУТ!</a>  </h3>
<h4>P.S. прости за дизайн). Как говорится - "лучший подарок - это сделанный своими руками", так вот, тут получилась комбинация. И, да, теперь
мы неизбежно сталкиваемся с цифровым миром. Надеюсь приложить руку к его формированию) Надеюсь не доставил много хлопот по открыванию шкатулки.
Мне тоже её пришлось открыть, прежде чем туда что-то положить. Открыл я её првда за время совещания по CSI). Жаль, что удалось с тобой поработать так мало.
Успехов, все получится!</h4>
</body>
</html>